@charset "UTF-8";

/*#F0F2F5*/

/*header start*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #e9ebee;
    z-index: 999;
    box-shadow: 0 1px 2px 1px rgba(200,200,200,0.8);
}

header .header_nav {
    position: relative;
    width: 1100px;
    height: 65px;
    margin: 0 auto;
}

header .header_nav h1 {
    position: absolute;
    left: 0;
    top: 15px;
}

header .header_nav nav {
    height: 65px;
    line-height: 65px;
    position: absolute;
    right: 0;
    font-size: 1.25em;
}

header .header_nav nav a {
    margin: 0 40px;
}

header .header_nav nav a.selected {
    color: #A7C31E;
}

/*content start*/
.contentWrapper {
    margin-top: 72px;
}

.contentWrapper>div:nth-child(even) {
    height: 430px;
}

.contentWrapper>div:nth-child(odd) {
    position: relative;
    height: 530px;
    box-sizing: border-box;
    /*padding-top: 50px;*/
    background-color:#F0F2F5;
}

div.next-icon {
    position: absolute;
    bottom: -23px;
    left: 50%;
}

/*第一个 页面*/
.contentWrapper .first-page {
    height: 605px !important;
    background: url("../images/01.jpg") center/cover no-repeat;
}

.contentWrapper .first-page .page-title {
    position: absolute;
    top: 200px;
    left: 380px;
}

.contentWrapper .first-page .page-title>h2 {
    color: #ffffff;
    font-size: 46px;
}

.contentWrapper .first-page .page-title>p {
    color: #ffffff;
    font-size: 18px;
    text-align: right;
}

.contentWrapper .first-page .page-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    width: 100%;
    height: 105px;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(238, 238, 238, 0.4);
}
.contentWrapper .first-page .page-footer>div {
    position: absolute;
    top: -23px;
    left: 48%;
}

/*第三个 窗口*/
.contentWrapper .third-page {
    padding-top: 50px;
}
.contentWrapper .third-page>div:first-child {
    position: relative;
    width: 1030px;
    height: 430px;
    margin: 0 auto;
}

.contentWrapper .third-page div .page-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 150px 0;
}

.contentWrapper .third-page div div:last-child {
    position: absolute;
    top:0;
    right: 0;
    width: 530px;
    text-align: center;
    background: url("../images/m3.png") left center no-repeat;
}

.contentWrapper .third-page div div img {

    -webkit-animation:myRotate 10s linear 0s infinite normal;
    -o-animation:myRotate 10s linear 0s infinite normal;
    animation:myRotate 10s linear 0s infinite normal;
}

@keyframes myRotate {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);}
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);}
}

.contentWrapper .third-page>div.next-icon {
    position: absolute;
    bottom: -23px;
    left: 50%;
}

/*!*第五个 窗口*!*/
.contentWrapper .fifth-page {
    padding-top: 100px;
}

.contentWrapper .fifth-page>div:first-child {
    position: relative;
    width: 1030px;
    height: 340px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contentWrapper .fifth-page div .page-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 150px 0 0;
    box-sizing: border-box;
}

.contentWrapper .fifth-page>div>div:last-child {

    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    height: 340px;
}

.contentWrapper .fifth-page>div>div:last-child>div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 324px;
    height: 324px;
    background: url("../images/m5.png") 0 0 no-repeat;
}

.contentWrapper .fifth-page>div>div:last-child>div:last-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    font-size: 20px;
}
.contentWrapper .fifth-page>div>div:last-child>div:last-child li {
    vertical-align: top;
    line-height: 37px;
    cursor: pointer;

    transition: all 0.2s;
}

.contentWrapper .fifth-page>div>div:last-child>div:last-child li.selected {
    font-size: 25px;
}

.contentWrapper .fifth-page>div>div:last-child>div:last-child li span:first-child {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid #A7C31E;
    border-radius: 50%;
    margin-right: 20px;
}

/*!*第七个 窗口*!*/
.contentWrapper .seventh-page {
    padding-top: 50px;
}
.contentWrapper .seventh-page>div:first-child {
    position: relative;
    width: 1030px;
    height: 430px;
    margin: 0 auto;
}

.contentWrapper .seventh-page div .page-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 150px 0 0;
    box-sizing: border-box;
}

.contentWrapper .seventh-page div div:last-child {
    position: absolute;
    top:0;
    right: 0;
    width: 530px;
    height: 430px;
    text-align: center;
    padding-top: 104px;
    padding-left: 62px;
    background: url("../images/m7.png") left center no-repeat;
    box-sizing: border-box;
}

.contentWrapper .seventh-page div div img {

    transform-origin: 39px 107px;
    -webkit-animation:myRotate 60s linear 0s infinite normal;
    -o-animation:myRotate 60s linear 0s infinite normal;
    animation:myRotate 60s linear 0s infinite normal;
}


/*第九个 窗口*/
.contentWrapper .ninth-page {
    padding-top: 60px;
}

.contentWrapper .ninth-page>div:first-child {
    position: relative;
    width: 1030px;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contentWrapper .ninth-page div .page-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 150px 0 0;
    box-sizing: border-box;
}

.contentWrapper .ninth-page div div:last-child {
    position: absolute;
    top:0;
    left: 0;
    width: 400px;
    height: 400px;
    text-align: center;
    background: url("../images/m9.png") left center no-repeat;
    box-sizing: border-box;

    -webkit-animation:myRotate 20s linear 0s infinite normal;
    -o-animation:myRotate 20s linear 0s infinite normal;
    animation:myRotate 20s linear 0s infinite normal;
}

/*第十一个 窗口*/
.contentWrapper .eleventh-page {
    padding-top: 85px;
}

.contentWrapper .eleventh-page>div:first-child {
    position: relative;
    width: 1030px;
    height: 400px;
    margin: 0 auto;
}

.contentWrapper .eleventh-page div .page-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 130px 0 0;
}

.contentWrapper .eleventh-page div .page-title ul li {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}

.contentWrapper .eleventh-page>div>div:last-child {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

/**/

.contentWrapper .second-page {
    background: url("../images/bg1.jpg") center top/cover fixed no-repeat;
}

.contentWrapper .fourth-page {
    background: url("../images/bg2.jpg") center top/cover fixed no-repeat;
}

.contentWrapper .sixth-page {
    background: url("../images/bg3.jpg") center top/cover fixed no-repeat;
}

.contentWrapper .eighth-page {
    background: url("../images/bg4.jpg") center top/cover fixed no-repeat;
}

.contentWrapper .tenth-page {
    background: url("../images/bg5.jpg") center top/cover fixed no-repeat;
}


/*footer start*/
footer {
    font-size: 1.4em;
    color: white;
    height: 75px;
    text-align: center;
    line-height: 75px;
    background: url("../images/bg.jpg") center/cover no-repeat;
}

footer span {
    margin-right: 50px;
}