@charset "UTF-8";


body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
    margin:0;
    padding:0;
}

body {
    font: 14px/1.5em 'Microsoft Sans Serif';
}

ul,ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

img {
    border: none;
    vertical-align: top;
}

input:focus {
    border: none;
    outline: none;
    font-size: inherit;
}