@charset "UTF-8";

/*header开始*/
.qt-header {
    width: 100%;
    height: 50px;
    background-color: #10c55b;
}

.qt-header .nav-container {
    width: 1185px;
    height: 100%;
    margin: 0 auto;
}

.qt-header .nav-container ul.left {
    height: 100%;
}

.qt-header .nav-container ul.left li {
    position: relative;
    float: left;
    height: 100%;
}

.qt-header .nav-container ul.left li>a {
    display: inline-block;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 16px;
    background-color: transparent;
}

.qt-header .nav-container ul.left li>a:link {
    color: #afffd0;
}

.qt-header .nav-container ul.left li.nav-selected a, .qt-header .nav-container ul.left li a:hover {
    color: #ffffff;
    background-color: #01ac48;
}

.qt-header .nav-container ul.left li:nth-of-type(2) .down-arrow {
    display: inline-block;
    width: 14px;
    height: 8px;
    background: url("../images/searchnew/common.png") -187px -26px no-repeat;
}
    /*导航栏 下拉菜单*/
.qt-header .nav-container ul.left li a:hover + .nav-item-dl {
    display: block;
}

.qt-header .nav-container ul.left li .nav-item-dl {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 20;
    display: none;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.qt-header .nav-container ul.left li .nav-item-dl a {
    padding-left: 16px;
}

.qt-header .nav-container ul.left li .nav-item-dl:hover {
    display: block;
}

.qt-header .nav-container ul.left li .nav-item-dl dl dt {
    height: 46px;
    padding: 12px;
    box-sizing: border-box;
}

.qt-header .nav-container ul.left li .nav-item-dl dl dt div{
    font-size: 16px;
    border-left: 4px solid green;
    padding-left: 10px;
    box-sizing: border-box;
}

.qt-header .nav-container ul.left li .nav-item-dl dl dd {
    width: 100%;
    height: 35px;
}

.qt-header .nav-container ul.left li .summary-dl dl dd a{
    display: inline-block;
    font-size: 15px;
    text-align: left;
    width: 100%;
    height: 100%;
    line-height: 35px;
    color: #747474;
    box-sizing: border-box;
}

.qt-header .nav-container ul.left li .summary-dl dl dd a:hover {
    color: #12c55c;
    background-color: #e2fbec;
}

.qt-header .nav-container ul.left li .detail-dl dl dd a {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    text-align: left;
    color: #747474;
    box-sizing: border-box;
}

.qt-header .nav-container ul.left li .detail-dl dl dd a:hover {
    color: #12c55c;
    background-color: white;
}

.qt-header .nav-container ul.left li .detail-dl dl dd a+span.total-number {
    font-size: 12px;
}

.qt-header .nav-container ul.left li .nav-item-dl dl dd a>span {
    float: left;
    width: 25px;
    height: 30px;
    margin-right: 10px;
    background-image: url("../images/searchnew/common.png");
    background-repeat: no-repeat;
}

    /*所有分类 下拉菜单*/
.nav-all-classes>div>dl {
    width: 180px;
}

.dd-1>a>span {
    background-position: -215px -140px;
}
.dd-1>a:hover>span {
    background-position: -185px -140px;
}
.dd-2>a>span {
    background-position: -215px -170px;
}
.dd-2>a:hover>span {
    background-position: -185px -170px;
}
.dd-3>a>span {
    background-position: -215px -200px;
}
.dd-3>a:hover>span {
    background-position: -185px -200px;
}
.dd-4>a>span {
    background-position: -215px -230px;
}
.dd-4>a:hover>span {
    background-position: -185px -230px;
}
.dd-5>a>span {
    background-position: -215px -260px;
}
.dd-5>a:hover>span {
    background-position: -185px -260px;
}
.dd-6>a>span {
    background-position: -215px -290px;
}
.dd-6>a:hover>span {
    background-position: -185px -290px;
}
.dd-7>a>span {
    background-position: -215px -320px;
}
.dd-7>a:hover>span {
    background-position: -185px -320px;
}
.dd-8>a>span {
    background-position: -215px -440px;
}
.dd-8>a:hover>span {
    background-position: -185px -440px;
}
.dd-9>a>span {
    background-position: -215px -470px;
}
.dd-9>a:hover>span {
    background-position: -185px -470px;
}
.dd-10>a>span {
    background-position: -215px -350px;
}
.dd-10>a:hover>span {
    background-position: -185px -350px;
}
.dd-11>a>span {
    background-position: -215px -380px;
}
.dd-11>a:hover>span {
    background-position: -185px -380px;
}
.dd-12>a>span {
    background-position: -215px -410px;
}
.dd-12>a:hover>span {
    background-position: -185px -410px;
}
.dd-13>a>span {
    background-position: -215px -540px;
}
.dd-13>a:hover>span {
    background-position: -185px -540px;
}
.dd-14>a>span {
    background-position: -215px -570px;
}
.dd-14>a:hover>span {
    background-position: -185px -570px;
}

    /*设计创意 下拉菜单*/
.nav-design>div>dl {
    width: 400px
}
.nav-design>div>dl>dd{
    float: left;
    width: 190px !important;
}
    /*办公创意 下拉菜单*/
.nav-work>div>dl {
    width: 400px
}
.nav-work>div>dl>dd{
    float: left;
    width: 190px !important;
}

    /*正版商用 下拉菜单*/
.nav-business img {
    position: absolute;
    top: 3px;
    left: 65px;
}
    /*云简历 下拉菜单*/

    /*more 下拉菜单*/
.qt-header .nav-container ul.left li.nav-more>div {
    width: 120px;
}

.qt-header .nav-container ul.left li.nav-more>div dl dd a {
    width: 100%;
}

    /*右侧*/
.qt-header .nav-container>.right {
    width: 250px;
    height: 100%;
}

.qt-header .nav-container>.right .vip-center a {
    display: inline-block;
    width: 107px;
    height: 100%;
    color: #afffd0;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}

.qt-header .nav-container>.right .vip-center a:hover {
    color: #ffffff;
    background-color: #01ac48;
}

.qt-header .nav-container>.right .vip-center a .vip-icon {
    position: relative;
    left: 5px;
    top: 7px;
    display: inline-block;
    width: 25px;
    height: 20px;
    background: url("../images/searchnew/common.png") -127px -385px no-repeat;
}

.qt-header .nav-container>.right .log-reg {
    padding-top: 10px;
}

.qt-header .nav-container>.right .log-reg .login {
    display: inline-block;
    color: #ffffff;
    width: 57px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #01923d;
}

.qt-header .nav-container>.right .log-reg .login:hover {
    color: #afffd0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
}

.qt-header .nav-container>.right .log-reg .reg {
    font-size: 12px;
    color: #01933e;
    margin-left: 15px;
}

/*搜索开始*/
.qt-search {
    width: 100%;
    height: 124px;
    padding-top: 25px;
    box-sizing: border-box;
}

.qt-search .search-container {
    margin: 0 auto;
    width: 1185px;
    height: 76px;
}

.qt-search .search {
    width: 670px;
    height: 76px;
}

.qt-search .search .search-form {
    width: 100%;
    height: 50px;
}

.qt-search .search .search-form .search-input-box {
    width: 590px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.qt-search .search .search-form .search-input-box a {
    display: inline-block;
    height: 30px;
    width: 76px;
    line-height: 30px;
    text-align: center;
    border-right: solid 1px #cccccc;
}

.qt-search .search .search-form .search-input-box a span {
    display: inline-block;
    width: 17px;
    height: 8px;
    background: url("../images/searchnew/common.png") -125px -30px no-repeat;
}

.qt-search .search .search-form .search-input-box .search-input {
    border: none;
    width: 480px;
    height: 30px;
}

.qt-search .search .search-form .search-submit a{
    display: inline-block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #11cb5e;
    border-radius:0 5px 5px 0 ;
    box-sizing: border-box;
    padding-top: 15px;
}

.qt-search .search .search-form .search-submit a:hover {
    background-color: #2dd677;
}

.qt-search .search .search-form .search-submit a span {
    display: inline-block;
    width: 23px;
    height: 30px;
    background: url("../images/searchnew/common.png") -65px -445px no-repeat;
}

.qt-search .search .hot-search {
    height: 25px;
    margin-left: 10px;
    line-height: 25px;
}

.qt-search .search .hot-search a:hover {
    color: #30cb70;
}

.qt-search .search-container .icon-billboard a img{
    position: relative;
    top: -10px;
}

/*banner 开始*/
.qt-banner {
    width: 100%;
    height: 320px;
    background-color: white;
}

.qt-banner .banner-container {
    width: 100%;
    height: 100%;
}

.qt-banner .banner-container .banner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.qt-banner .banner-container .banner ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.qt-banner .banner-container .banner ul li {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qt-banner .banner-container .banner ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 320px;
    text-align: center;
    font-size: 60px;
}

.qt-banner .banner-container .banner ul li:nth-of-type(1) {
    background-image: url("../images/banner/59c8d79b45fb0.jpg");
}
.qt-banner .banner-container .banner ul li:nth-of-type(2) {
    background-image: url("../images/banner/59c87a717026b.jpg");
}
.qt-banner .banner-container .banner ul li:nth-of-type(3) {
    background-image: url("../images/banner/59c876cb19a9a.jpg");
}
.qt-banner .banner-container .banner ul li:nth-of-type(4) {
    background-image: url("../images/banner/59ccccfdaa1f9.jpg");
}
.qt-banner .banner-container .banner ul li:nth-of-type(5) {
    background-image: url("../images/banner/59cfab9dae7f1.jpg");
}
.qt-banner .banner-container .banner ul li:nth-of-type(6) {
    background-image: url("../images/banner/59d0d77be2b08.jpg");
}

.ban1 {
    left: -50%;
    z-index: 2;
    opacity: 0.8;
    transform: scale(0.8);
    transition: all 0.8s linear 0.5s;
}

.ban2 {
    left: 10%;
    z-index: 5;
    transform: none;
    transition: all 1s linear 0s;
}

.ban3 {
    left: 50%;
    z-index: 4;
    opacity: 0.8;
    transform: scale(0.8);
    transition: all 1s linear 0s;
}

.ban4 {
    left: 100%;
    z-index: 3;
    transform: scale(0.8);
    transition: all 0.8s linear 0.5s;
}

.ban5 {
    left: 150%;
    z-index: 3;
    transform: scale(0.8);
    transition: all 1s linear 0s;
}

.ban6 {
    left: 50%;
    z-index: 1;
    transform: scale(0.8);
    transition: all 0.8s linear 0s;
}

.qt-banner .banner-container .banner:hover>div {
    display: block;
}

.qt-banner .banner-container .banner .left-arrow {
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 20;
    width: 50px;
    height: 140px;
    background: url("../images/searchnew/lun.png") 0 0 no-repeat;
}

.qt-banner .banner-container .banner .left-arrow a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.qt-banner .banner-container .banner .left-arrow:hover {
    background-position:-153px 0;
}

.qt-banner .banner-container .banner .right-arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 20;
    width: 50px;
    height: 140px;
    background: url("../images/searchnew/lun.png") -52px 0 no-repeat;
}

.qt-banner .banner-container .banner .right-arrow a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.qt-banner .banner-container .banner .right-arrow:hover {
    background-position: -103px 0;
}

.qt-banner .banner-container .banner ol {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
    z-index: 10;
}

.qt-banner .banner-container .banner ol li {
    display: inline-block;
}

.qt-banner .banner-container .banner ol li.ban-selected a {
    background-color: #10c55b;
}

.qt-banner .banner-container .banner ol li a {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #999999;
}

.qt-banner .banner-container .banner ol li a:hover {
    background-color: #10c55b;
}

/*专题 开始*/
.index-main {
    width: 100%;
    /*background-color: #0fbe58;*/
}

.index-main .main-title {
    width: 1200px;
    height: 65px;
    margin: 0 auto;
    padding-top: 35px;
    box-sizing: border-box;
    /*background-color: #df9797;*/
}

.index-main .main-title a:hover {
    color: #fea45b;
}

.index-main .main-title .title {
    line-height: 30px;
}

.index-main .main-title .title .title-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url("../images/searchnew/common.png");
    background-repeat: no-repeat;
}

.index-main .main-title .sub-title{
    height: 30px;
    margin-left: 30px;
}

.index-main .main-title .sub-title ul li {
    float: left;
    margin-right: 30px;
}

.index-main .main-title .right-more {
    height: 30px;
}

.index-main>div:nth-of-type(1) .title .title-logo {
    background-position: -95px -415px;
}

.index-main>div:nth-of-type(3) .title .title-logo {
    background-position: -125px -415px;
}

.index-main>div:nth-of-type(5) .title .title-logo {
    background-position: -155px -415px;
}

.index-main>div:nth-of-type(7) .title .title-logo {
    background-position: -125px -575px;
}

.index-main>div:nth-of-type(9) .title .title-logo {
    background-position: -95px -445px;
}

.index-main>div:nth-of-type(11) .title .title-logo {
    background-position: -125px -445px;
}

.index-main>div:nth-of-type(13) .title .title-logo {
    background-position: -155px -445px;
}

.index-main>div:nth-of-type(15) .title .title-logo {
    background-position: -155px -575px;
}

    /*专题内容*/
.index-main .topic-content {
    width: 1200px;
    padding: 20px 0 30px;
    margin: 0 auto;
    /*background-color: #cbc228;*/
}

.index-main .topic-content>ul li {
    float: left;
    background-color: white;
}

.index-main .topic-content>ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.index-main .topic-content>ul li a>div {
    width: 100%;
}

.index-main .topic-content>ul li a>div.cell-img {
    position: relative;
    background-color: black;
    overflow: hidden;
}

.index-main .topic-content>ul li a>div.cell-img:first-child{
    width: 100%;
    /*height: 100%;*/
}

.index-main .topic-content>ul li a>div.cell-img video{
    width: 100%;
    height: 100%;
}

.index-main .topic-content>ul li a>div.cell-img .cell-resource-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 53px;
    height: 53px;
}

.index-main .topic-content>ul li a>div.cell-img .cell-resource-type.original {
    background: url("../images/searchnew/common.png") 0 0 no-repeat;
}

.index-main .topic-content>ul li a>div.cell-img .cell-resource-type.share {
    background: url("../images/searchnew/common.png") -63px 0 no-repeat;
}

.index-main .topic-content>ul li a>div.cell-img .cell-resource-type.work {
    background: url("../images/searchnew/common.png") -6px -576px no-repeat;
}

.index-main .topic-content>ul li a>div.cell-img>.cell-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s;
}

.index-main .topic-content>ul li:hover a>div.cell-img>.cell-mask {
    background-color: rgba(0, 0, 0, 0.5);
}

.index-main .topic-content>ul li a>div.cell-img>.cell-mask>div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}

.index-main .topic-content>ul li a>div.cell-img>.dir-up-ani>div {
    top: 100%;
}

.index-main .topic-content>ul li a>div.cell-img>.dir-down-ani>div {
    top: -100%;
}

.index-main .topic-content>ul li:hover a>div.cell-img>.cell-mask>div {
    top: 0;
}

.index-main .topic-content>ul li a>div.cell-desc {
    padding: 10px 0 0;
    /*background-color: pink;*/
}

    /*精选专题*/
.index-main .select-topic>ul li {
    height: 100%;
}

.index-main .select-topic>ul li a>div.cell-img .cell-mask>div {
    padding: 50px 0;
    box-sizing: border-box;
}

.index-main .select-topic>ul li a>div.cell-img .cell-mask>div>div {
    width: 150px;
    height: 100px;
    margin: 0 auto;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

    /*商用海报*/
.index-main .poster>ul li {
    height: 100%;
}

.index-main .poster>ul li a>div.cell-img .cell-mask>div {
    padding: 50px 0;
    box-sizing: border-box;
}

.index-main .poster>ul li a>div.cell-img .cell-mask>div>div {
    width: 150px;
    height: 100px;
    margin: 0 auto;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
    /*PPT模板*/
.index-main .ppt-temp>ul li {
    height: 100%;
}

    /*视频音频*/


    /*元素背景*/
.index-main .elem-bg>ul li {
    height: 100%;
}
    /*简历模板*/
.index-main .resume-temp>ul li {
    height: 100%;
}
    /*电商海报*/
.index-main .online-poster>ul li {
    height: 50%;
}
    /*装饰装修*/
.index-main .design>ul li {
    height: 100%;
}

/*合作企业 开始*/
.qt-companies {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 0 20px;
    background-color: #f6f6f6;
}

.qt-companies .company-container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.qt-companies .company-container .company-scroll {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.qt-companies .company-container .person-card ul {
    width: 2430px;
}

.qt-companies .company-container .other-company ul {
    width: 2405px;
}

.qt-companies .company-container .company-scroll ul li {
    position: relative;
    float: left;
    background-color: #ffffff;
}

.qt-companies .company-container .person-card {
    height: 272px;
    padding-top: 32px;
    margin-top: 44px;
}


.qt-companies .company-container .company-scroll ul li.comp-cell {
    width: 380px;
    height: 240px;
    padding: 20px 25px;
    box-sizing: border-box;
}

.qt-companies .company-container .company-scroll ul li.comp-cell .person-info {
    position: relative;
    width: 330px;
    height: 200px;
}

.qt-companies .company-container .company-scroll ul li.comp-cell .person-info h3 {
    text-align: right;
    padding-right: 120px;
    box-sizing: border-box;
}

.qt-companies .company-container .company-scroll ul li.comp-cell .person-info .icon-gb {
    width: 25px;
    height: 25px;
    margin: 20px 0;
    background: url("../images/searchnew/common.png") -185px -510px no-repeat;
}

.qt-companies .company-container .company-scroll ul li.comp-cell .person-info .company-logo {
    position: absolute;
    left: 0;
    bottom: 0;
}

.qt-companies .company-container .company-scroll ul li.comp-cell .person-info .person-type {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px 8px;
    border: solid 1px #e3e3e3;
}

.qt-companies .company-container .company-scroll ul li.comp-cell .person-ph {
    position: absolute;
    top: -30px;
    right: 20px;
    border-radius: 50%;
}

.qt-companies .company-container .other-company {
    width: 1200px;
    height: 120px;
    padding: 30px 0;
    box-sizing: border-box;
}

.qt-companies .company-container .latest-news {
    position: relative;
    width: 1200px;
    height: 70px;
    border-bottom: solid 1px #e3e3e3;
}

.qt-companies .company-container .latest-news .new-title {
    position: relative;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: white;
}

.qt-companies .company-container .latest-news .new-title:after {
    content: " ";
    position: absolute;
    top: 10px;
    right: -16px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent transparent white;
}

.qt-companies .company-container .latest-news .news-list {
    width: 955px;
    height: 36px;
    overflow: hidden;
}

.qt-companies .company-container .latest-news .news-list ul {

    animation: newsRoll 8s linear infinite normal;
}

@keyframes newsRoll {
    0% {
        transform: translateY(0);
    }
    16.67% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-36px);
    }
    41.67% {
        transform: translateY(-36px);
    }
    50% {
        transform: translateY(-72px);
    }
    66.67% {
        transform: translateY(-72px);
    }
    75.0% {
        transform: translateY(-108px);
    }
    91.67% {
        transform: translateY(-108px);
    }
    100.0% {
        transform: translateY(-144px);
    }
}

.qt-companies .company-container .latest-news .news-list ul li {
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    width: 50%;
    height: 36px;
    line-height: 36px;
}
.qt-companies .company-container .latest-news .news-list ul li span:first-child {
    float: left;
}

.qt-companies .company-container .latest-news .news-list ul li span:last-child {
    float: right;
}

.qt-companies .company-container .latest-news .news-control {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 36px;
}

.qt-companies .company-container .latest-news .news-control .pre-news {
    position: absolute;
    top: 5px;
    right: 0;
    width: 15px;
    height: 10px;
    background: url("../images/searchnew/common.png") -163px -510px;
}

.qt-companies .company-container .latest-news .news-control .next-news {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 15px;
    height: 10px;
    background: url("../images/searchnew/common.png") -163px -522px;
}
.qt-companies .company-container .latest-news .more-news {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.qt-companies .company-container div .links-ship {
    width: 1200px;
    padding: 20px 0 0;
}

.qt-companies .company-container div .links-ship a {
    display: inline-block;
    width: 1200px;
}

.qt-companies .company-container div .links-ship .icon-arrow {
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url("../images/searchnew/common.png") -125px -28px no-repeat;
}

    /*footer 开始*/
.qt-footer {
    width: 100%;
    height: 318px;
    background-color: yellow;
}